@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');
@import url(vars.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #445;
    font-family:var(--primary-font);
}
/*estilos de la barra de navegacion */
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 21px;
  }
/*boton para volver ir a la parte
superior de la pagina*/
.scrollTop{
position: fixed;
bottom: 20px;
right: 20px;
background-color:var(--background-color);
color: #fff;
border-radius:50% ;
border: none;
width: 80px;
height: 80px;
padding: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.scrollTop:hover{
    background-color: var(--second-color);
}