body {
    min-height: 400vh;
}

/*boton para volver ir a la parte
superior de la pagina*/
.scrollTop{
position: fixed;
bottom: 20px;
right: 20px;
background-color: blue;
color: #fff;
border-radius:20px ;
border: none;
width: 40px;
height: 40px;
padding: 4px;
display: flex;
justify-content: center;
align-items: center;
}
.scrollTop:hover{
    background-color: rgb(25, 0, 255);
}