.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
	url(../images/Home-Hero.jpg);
    height: 50rem;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.back-filter {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
	position: absolute;
    z-index: -1;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.slogan {
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: .3rem;
    font-weight: 600;
}

.Logo-agromachinery {
    margin-bottom: .3rem;
    border-radius: 10px;
}

.btn-more {
    border: none;
    background: var(--background-color);
    border-radius: 20px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
}


/*main content home*/
.main-content {
    color: var(--text-color);
}

/*features*/
.container-feactures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 2rem 20px;
}

.card-feature {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-collor);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

/*Categorias*/

.top-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.heading-1{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.card-categorie {
    position: relative;
    border: 1px solid black;
    height: 10rem;
    border-radius: 16px;
    /*eliminar contenido que sobresale del contenedor padre*/
    overflow: hidden;
}

.blur-filter {
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    gap: 2rem;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}

.img-categories {
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    height: calc(100%-20px);
    left: -20px;
    top: 0;
}
.card-categorie p{
    position: relative;
    text-transform: capitalize;
    color: #f71919;
    font-size: 2.5;
    font-weight: 600;
}
.card-categorie p::after{
    content: "";
    width: 2.5rem;
    height: 2px;
    position: absolute;
    background-color: #f71919;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%,50%);
}

/*productos top*/

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}
.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}
/*productos*/
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    color: #777;
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
    background-color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #ff0000;
	color: #fff;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #000000;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
	text-align: center;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;
	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}
.price {
	display: grid;
	grid-template-columns: 2,1fr;
	font-size: 1.7rem;
	font-weight: 600;
	width: 10rem;
}
 .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #eee;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
	color: #fff;
}

.twitter {
	background-color: #000000;
	color: #fff;
}
.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
	color: #fff;
}

.whatsapp{
	background-color: #25D366;
	color: #fff;
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.35rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
	color: #eee;
	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.2rem;
}