.banner {
    background-image: url(../images/Home-Hero.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.back-filter {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.slogan {
    color: var(--text-color);
    font-size: 3rem;
    margin-bottom: .3rem;
    font-weight: 600;
}

.Logo-agromachinery {
    margin-bottom: .3rem;
    border-radius: 10px;
}

.btn-more {
    border: none;
    background: var(--background-color);
    border-radius: 20px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
    cursor: pointer;
}


/*main content home*/
.main-content {
    color: var(--text-color);
}

/*features*/
.container-feactures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 2rem 20px;
}

.card-feature {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.feature-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.feature-content span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-collor);
}

.feature-content p {
    color: #777;
    font-weight: 500;
}

/*Categorias*/

.top-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.heading-1{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}
.card-categorie {
    position: relative;
    border: 1px solid black;
    height: 10rem;
    border-radius: 16px;
    /*eliminar contenido que sobresale del contenedor padre*/
    overflow: hidden;
}

.blur-filter {
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    gap: 2rem;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}

.img-categories {
    aspect-ratio: 1/1;
    position: absolute;
    z-index: -1;
    height: calc(100%-20px);
    left: -20px;
    top: 0;
}
.card-categorie p{
    position: relative;
    text-transform: capitalize;
    color: #f71919;
    font-size: 2.5;
    font-weight: 600;
}