:root{
    /*
    colores para la nav bar
    */
    --primary-color:#151515;
    --text-color:#EFF5F3;
    --background-color:#f34c34;
    --second-color:#4A2EE6;

    --second-back-color:#FAC884;

    --full-screen-w:100vw;
    --full-screen-h:100vh;
    --primary-font: 'Montserrat', sans-serif;
}